/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
img#fadeInLeft{
  -webkit-animation:fadeInLeft 1s; 
  -webkit-animation-delay:0.2s;
  -webkit-animation-iteration-count:1; /* Safari 和 Chrome */ //动画执行的次数
}
img#fadeInDownBig{
  -webkit-animation:fadeInDownBig 1s; 
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:1; /* Safari 和 Chrome */ //动画执行的次数
}
img#fadeInRight{
  -webkit-animation:fadeInRight 1s; 
  -webkit-animation-delay:0.2s;
  -webkit-animation-iteration-count:1; /* Safari 和 Chrome */ //动画执行的次数
}
#fadeInDown{
  -webkit-animation:fadeInDown 1s; 
  -webkit-animation-delay:0.3s;
  -webkit-animation-iteration-count:1; /* Safari 和 Chrome */ //动画执行的次数
}



